@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400&display=swap');

body {
    background-image: linear-gradient(to bottom, #3E464F, #2a2f35);
    color: white;
    font-family: 'Courier New', Courier, monospace;
}
h1, h2 {
    text-align: center;
}
h1 {
    font-size: 40px;
    text-shadow: 2px 2px 2px #0000004f;
}
p#codigo {
    font-size: 15px;
    font-style: italic;
}
main#interface {
    width: 700px;
    background-color: #708090;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #262a30ad;
}
div#txt {
    background-color: white;
    border-radius: 10px;
    color: black;
    margin-bottom: 30px;
    text-align: justify;
}

img#fotoalan {
    margin-left: 150px;
}
ul {
    display: block;
    background-color: #3e464f7c;
    border-radius: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    list-style-type: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
li {
    font-size: 30px;
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    padding: 5px;
}
div.direita {
    margin-left: 350px;
    margin-top: -90px;
}
div.esquerda {
    margin-left: 75px;
}
p#apresent {
    font-family: 'Blinker', sans-serif;
    font-style: normal;
    font-size: 20px;
    padding: 10px;
}
a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

a:focus {
    border-bottom: 1px solid;
    border-radius: 3px;
    background: #FFBD47;
}

a:hover {
    border-bottom: 1px solid;
    border-radius: 3px;
    background: #ffbb4793;
}

a:active {

}
p#codigo {
    text-align: center;
    font: italic;
}
audio#player {
    margin: 10px;
    margin-left: 200px;
}
div#videosyout {
    margin: 10px 150px 10px 150px;
    background-color: #3e464f7c;
    border-radius: 10px;
    padding: 10px 3px 10px 3px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
}
iframe {
    margin-left: 20px;
    margin-top: 10px;
}
p#creditos {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.233);
}